.up {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background: url("../img/up.png") no-repeat;
  width: 44px;
  height: 45px;
  z-index: 1500;
  display: none; }
  .up--active {
    display: block; }
    .up--active:hover {
      cursor: pointer; }
